<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1>NintendoLife Scraper</h1>
                <button class="btn btn-danger" id="scrape">Scrapey scrapey</button>
                <button class="btn btn-secondary" id="clear">Clear unsaved</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="article-cards">
                {{#each articles}}
                <div class="card bg-dark text-white mb-3" data-id="{{this._id}}">
                    <img class="card-img-top" src="{{this.image}}" alt="cardImg">
                    <div class="card-body">
                        <h6 class="card-title"><span class="category">({{this.category}})</span> {{this.title}}</h6>
                        <h6>Saved: {{this.saved}}</h6>
                        <p class="card-text">{{this.description}}</p>
                        <a href="{{this.link}}" target="_blank" class="btn btn-secondary btn-sm">Visit</a>
                        <a href="/" class="btn btn-secondary btn-sm save-article">Save</a>
                        <a href="/" class="btn btn-secondary btn-sm unsave-article">Unsave</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <footer class="footer">Created by Adam Grise, 2019</footer>
        </div>
    </div>

</div>