<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1>Unofficial<br><img class="nllogo" src="./styles/nllogo.png"><br>Article Scraper</h1>
                <button class="btn btn-secondary" id="scrape">Scrapey scrapey</button>
                <button class="btn btn-secondary" id="clear">Clear unsaved</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{#if articles}}
            <div id="article-cards">
                {{#each articles}}
                <div class="card bg-dark text-white mb-3" data-id="{{this._id}}" id="{{this._id}}">
                    <img class="card-img-top" src="{{this.image}}" alt="cardImg">
                    <div class="card-body {{this.savedClass}}">
                        <h6 class="card-title"><span class="category">({{this.category}})</span> {{this.title}}</h6>
                        <div class="hidden submitNote">
                            <h6>Note title:</h6>
                            <textarea type="text" class="title-input"></textarea><br>
                            <h6>Note details:</h6>
                            <textarea type="text" class="note-input"></textarea><br>
                            <button class="btn btn-dark submit-note" type="submit">Save Note</button>
                        </div>
                        <p class="card-text">{{this.description}}</p>
                        <div class="buttons-area">
                        <a href="{{this.link}}" target="_blank" class="btn btn-secondary btn-sm card-button">Visit</a>
                        <a href="/"
                            class="btn btn-secondary btn-sm card-button save-article {{this.saveButton}}">Save</a>
                        <a href="/"
                            class="btn btn-secondary btn-sm card-button unsave-article {{this.unsaveButton}}">Unsave</a>
                        <a class="btn btn-secondary btn-sm card-button note-button">Note</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div>
                <span>No articles right now. Click the "Scrapey scrapey" button up above to get started.</span>
            </div>
            {{/if}}
        </div>
    </div>
</div>